*.html
ads.txt



  
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

external/*
build/*
cmake-build-debug/*
cmake-build-release/*

.vscode

sh.exe.stackdump

install/

.idea/